*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'SamsungOne', sans-serif;
   font-family: 'Samsung Sharp Sans', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-around;

    align-items: center;  
    border-bottom: 0.1px solid #000;
    margin: 45px 45px 60px 45px;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    color: black;
}
.nav ul {    
    display: flex;
    list-style: none;
   gap: 20px;
   
}
.nav ul li a{
   text-decoration: none;
   color: black;
}
.search{
    border-radius: 20px;
    font-size: 15px;
}
.search-icon{
    font-size: 15px;
    background-color: white;
    border-radius: 100px;
}
.latestofer {
    display: flex;
    justify-content: center;

}
.container {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 20px;
      padding: 20px;
      max-width: 1200px;
      margin: auto;
      background-color: white;
    }

    .left-large {
      grid-row: span 2;
      position: relative;
      overflow: hidden;
    }

    .left-large img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
    }

    .left-large .caption {
      padding: 20px;
      text-align: center;
    }

    .card {
      background-color: #f7f7f7;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
    }

    .card img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .sale-tag {
      color: red;
      font-weight: bold;
      font-size: 14px;
      position: absolute;
      top: 10px;
      left: 10px;
      background: #fff0f0;
      padding: 4px 8px;
      border-radius: 5px;
    }
    .heading2{
      display:  flex;
      justify-content: center;
      align-items: center;
    }
    .heading2 h2{

      font-size: 30px;
      font-weight: 600;
      margin: 10px;
      font-size: 2.9rem;
    }

